.Post {
	grid-area: p;
	display: flex;
	justify-content: center;
	padding: 24px 24px 48px 24px;
	background: #FDFDFD;
	border-radius: 8px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	box-sizing: border-box;
	margin: 0 0 20px 0;
	min-height: 100px;
	position: relative;
}

.Post img {
	border-radius: 100%;
	width: 60px;
	height: 64px;
	margin-right: 20px;
}

textarea {
	resize: none;
	width: 500px;
	height: 118px;
	border-radius: 6px 6px 0 0;
	border: 2px solid rgba(0,0,0,0.4);
	padding: 18px 14px 18px 14px;
	box-sizing: border-box;
	border-bottom: none;
	outline: none;
}

textarea::-webkit-scrollbar {
	width: 10px;
}

textarea::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.4);
	border: 2px solid #adb1b1;
}

textarea::-webkit-scrollbar-thumb {
	background: #adb1b1;
	border: 1px solid rgba(0,0,0,0.2);
}


    















.attachments {
	width: 100%;
    border-radius: 0 0 6px 6px;
    border: 2px solid rgba(0,0,0,0.4);
    box-sizing: border-box;
    border-top: none;
    margin-top: -4px;
    background: #fff;
}

.attachments ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	width: 94%;
}

.attachments li {
	width: 4%;
	margin: 0;
	height: 20px;
	margin: 8px 12px 8px 0;
	position: relative;
}

.attachments li:last-child {
	margin-right: 32px;
}

.filecontainer input {
	font-size: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    height: 20px;
    opacity: 0;
}

button {
	border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 10px;
    background: #088dcd;
    position: absolute;
    bottom: 54px;
    right: 30px;
}