.Post {
	grid-area: p;
	display: flex;
	justify-content: center;
	padding: 24px 24px 48px 24px;
	background: #FDFDFD;
	border-radius: 8px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	box-sizing: border-box;
	margin: 0 0 20px 0;
	min-height: 100px;
}

.Post img {
	border-radius: 100%;
	width: 60px;
	height: 64px;
	margin-right: 20px;
}

textarea {
	resize: none;
	width: 500px;
	height: 118px;
	border-radius: 6px 6px 0 0;
	border: 2px solid rgba(0,0,0,0.4);
	padding: 18px 14px 18px 14px;
	box-sizing: border-box;
	border-bottom: none;
	outline: none;
}

textarea::-webkit-scrollbar {
	width: 10px;
}

textarea::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.4);
	border: 2px solid #adb1b1;
}

textarea::-webkit-scrollbar-thumb {
	background: #adb1b1;
	border: 1px solid rgba(0,0,0,0.2);
}


    
