.App {
  background: #f4f2f2;
}

.Wrapper {
  display: grid;
  grid-template-areas: 'm p a';
  max-width: 1258px;
  grid-template-columns: 3fr 6fr 3fr;
  grid-tamplate-rows: 120px;
  margin: 0 auto;
}
